.prettierrc
.tool-versions
.dockerignore
docker-compose.yml
Dockerfile
.woodpecker
web/miniflux-archive
web/preview.html

# Git
.git
.gitignore
.gemini

# Documentation
*.md

# Local development
config.yaml
coverage.out
coverage.html
config.yaml.example

# Scripts not needed in the final image
scripts/