miniflux:
  host: "YOUR_MINIFLUX_URL"
  api_token: "YOUR_MINIFLUX_API_API_KEY"

smtp:
  host: "YOUR_SMTP_HOST"
  port: 587
  user: "YOUR_SMTP_USERNAME"
  password: "YOUR_SMTP_PASSWORD"

digest:
  email:
    to: "RECIPIENT@example.com"
    from: "SENDER@example.com"

	# cron syntax also supported
  schedule: "@every 24h"

	# default http://localhost:8080, URL where HTML archives will be served
  host: "https://your-digest-host.com"

	# default true, compresses digest html
  compress: true

	# default false | true
  mark_as_read: true

	# default false | true
  run_on_startup: false

	# default date | category | ai
  view: date

ai:
	# gemini api key
  api_key: "YOUR_GEMINI_API_KEY"
