<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.PrimaryGroup.Title}}</title>
	<style>
		{{include "static/style.css"}}

		section.header {
			text-align: left;
			margin-bottom: 2rem;
		}

		.subtitle {
			font-size: 0.9rem;
			color: var(--header-date-color);
			margin-top: 0;
		}

		.subtitle a {
			color: var(--entry-link-color);
			text-decoration: none;
		}

		.subtitle a:hover {
			text-decoration: underline;
		}

		h1.title {
			margin-top: 0;
			margin-bottom: 0;
		}

		.container {
			min-width: 360px;
		}

		.group-entries-title, .sub-group-title {
			font-size: 1.25rem;
			font-weight: 500;
			color: var(--text-color);
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		{{range .FeedIcons}} div.feed-icon-{{.FeedID}} {
			background-image: url("data:{{.Data}}");
			background-size: contain;
			width: 16px;
			height: 16px;
		}
		{{end}}
	</style>
</head>

<body>
	<div class="container">
		<section class="header">
			<h1 class="title">{{.PrimaryGroup.Title}}</h1>
			<p class="subtitle">
				generated <a href=".." title="Back to Overview">{{.GeneratedDate.Format "Jan 2, 2006"}}</a>, with {{.PrimaryGroup.TotalEntries}} entries from {{.PrimaryGroup.TotalFeeds}} feeds.
			</p>
		</section>

		{{if .PrimaryGroup.Summary}}
		<section class="summary">
			<h2 class="group-entries-title">Summary</h2>
			<div>{{textToHTML .PrimaryGroup.Summary}}</div>
		</section>
		{{end}}

		<section class="entries">
    {{range .PrimaryGroup.SubGroups}}
    <h3 class="sub-group-title">{{.Title}}</h3>
        {{range .Entries}}
        <section class="entry">
            <details class="entry">
                <summary class="entry">
                    {{.Title}}
                </summary>
                <div class="entry-content">
                    {{ htmlEscape .Content}}
                </div>
            </details>
            <div class="entry-meta">
                <div class="entry-meta-tab entry-meta-tab-feed">
                    <div class="feed-icon-{{.FeedID}}"></div>
                    <div class="entry-meta-tab-feed-title">{{.FeedTitle}}</div>
                </div>
                <div class="entry-meta-tab" style="margin-left: auto;">{{.Date.Format
                    "Jan 2"}}</div>
                <div class="entry-meta-tab">
                    <a href="{{.URL}}" target="_blank" rel="noopener noreferrer" class="entry-link"
                        data-link-external>permalink</a>
                </div>
                {{if .CommentsURL}}
                <div class="entry-meta-tab">
                    <a href="{{.CommentsURL}}" target="_blank" rel="noopener noreferrer" class="entry-link"
                        data-link-comments>comments</a>
                </div>
                {{end}}
                <div class="entry-meta-tab">
                    <a href="{{$.MinifluxHost}}/feed/{{.FeedID}}/entry/{{.ID}}" target="_blank" rel="noopener noreferrer"
                        class="entry-link" data-link-internal>source</a>
                </div>
            </div>
        </section>
        {{end}}
    {{end}}
</section>
	</div>

	<script>
		{{include "static/script.js"}}
	</script>
</body>

</html>
