<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.EntryGroup.Title}}</title>
	<style>
		{{include "static/style.css"}}

		{{range .FeedIcons}} div.feed-icon-{{.FeedID}} {
			background-image: url("data:{{.Data}}");
			background-size: contain;
			width: 16px;
			height: 16px;
		}
		{{end}}
	</style>
</head>

<body>
	<div class="container">
		<section class="header">
			<h1 class="title">{{.EntryGroup.Title}}</h1>
			<span class="date">generated on {{.GeneratedDate.Format
				"Jan 2, 2006"}}</span>
		</section>

		<section class="summary">
			<h2 class="group-entries-title">Summary</h2>
			<p>{{textToHTML .EntryGroup.Summary}}</p>
		</section>

		<section class="entries">
			{{range .EntryGroup.Entries}}
			<section class="entry">
				<details class="entry">
					<summary class="entry">
						{{.Title}}
					</summary>
					<div class="entry-content">
						{{ htmlEscape .Content}}
					</div>
				</details>
				<div class="entry-meta">
					<div class="entry-meta-tab entry-meta-tab-feed">
						<div class="feed-icon-{{.FeedID}}"></div>
						<div class="entry-meta-tab-feed-title">{{.Feed.Title}}</div>
					</div>
					<div class="entry-meta-tab" style="margin-left: auto;">{{.Date.Format
						"Jan 2"}}</div>
					<div class="entry-meta-tab">
						<a href="{{.URL}}" target="_blank" rel="noopener noreferrer" class="entry-link"
							data-link-external>permalink</a>
					</div>
					{{if .CommentsURL}}
					<div class="entry-meta-tab">
						<a href="{{.CommentsURL}}" target="_blank" rel="noopener noreferrer" class="entry-link"
							data-link-comments>comments</a>
					</div>
					{{end}}
					<div class="entry-meta-tab">
						<a href="{{$.MinifluxHost}}/feed/{{.FeedID}}/entry/{{.ID}}" target="_blank" rel="noopener noreferrer"
							class="entry-link" data-link-internal>source</a>
					</div>
				</div>
			</section>
			{{end}}
		</section>
	</div>

	<script>
		{{include "static/script.js"}}
	</script>
</body>

</html>
