<!DOCTYPE html>
<html>
<head>
    <title>Miniflux Digest Overview</title>
    <style>
        {{include "static/style.css"}}
    </style>
</head>
<body>
    <div class="container">
        <section class="header">
            <h1 class="title">Miniflux Digest Overview</h1>
            <p class="subtitle">
                Generated on {{.GeneratedDate.Format "Jan 2, 2006"}}, with {{.TotalEntries}} entries from {{.TotalFeeds}} feeds.
            </p>
        </section>

        {{if .OverviewSummary}}
        <section class="summary">
            <h2 class="group-entries-title">Summary</h2>
            <div>{{textToHTML .OverviewSummary}}</div>
        </section>
        {{end}}

        <section class="grouped-digests">
            <h2 class="group-entries-title">Grouped Digests</h2>
            {{range .PrimaryGroups}}
                <section class="entry">
                    <summary class="entry">
                        <a href="digests/{{.Slug}}.html" class="entry-link">{{.Title}}</a>
                    </summary>
                    {{if .Summary}}
                    <div class="entry-content">
                        {{textToHTML .Summary}}
                    </div>
                    {{end}}
                    <div class="entry-meta">
                        <div class="entry-meta-tab">{{.TotalEntries}} entries from {{.TotalFeeds}} feeds.</div>
                        <div class="entry-meta-tab" style="margin-left: auto;"><a href="#" class="mark-as-read-link">Mark as read</a></div>
                    </div>
                </section>
            {{end}}
        </section>
    </div>
    <script>{{include "static/overview.js"}}</script>
</body>
</html>
